.ss-navbar-bg-colour {
  background-color: white;
}

.ss-navbar-middle-margin {
  margin-left: 155px;
}
.ss-middle-gap {
  column-gap: 16px;
  font-family: "Inter", sans-serif;
}
.ss-right-margin {
  column-gap: 10px;
}
.ss-login-padding {
  margin-top: 5px;
}
#ss-bg-colour {
  background-color: rgb(22, 209, 209);
  color: white;
  padding-top: 10px 20px 20px 20px;
}
.ss-nav-img-size {
  width: 110px;
}


/* *Back */
.back-of-navbar {
  background-color: cornflowerblue;
}
/* *!Easy to Use */

/* ~Media Query */
/* ~Mobile :  */

.c-1-image-1 {
  height: 500px;
}
.container-a {
  display: flex;
  background-image: url(https://posing-html.vercel.app/assets/img/hero_bg.svg);
  column-gap: 20px;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 20px;
}
.left-item-a {
  margin-top: 100px;
  width: 500px;
  height: 500px;
}
.left-item-a-containent {
  margin-top: 80px;
}
.right-item-b {
  margin-top: 100px;
  background-color: rgb(233, 224, 233);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.small-text-obove-big {
  font-weight: 300;
  font-size: 16px;
  color: #47c4c0;
  margin-bottom: 4px;
}
.big-text-a {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 80px;
  color: #1c2528;
  padding: 0;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}
.below-big-text {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.5em;

  color: #6b6b6b;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: var(--bs-body-text-align);
}
.same-bottom-btn {
  display: inline-block;
  padding: 12px 25px;
  text-align: center;
  color: #fff;
  background-color: #6990ff;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  border-radius: 7px;
  border: 0px;
  font-family: "Poppins", sans-serif;
}
/* *2nd Part */
.big-space-seperation {
  height: 95px;
}
.office-inventory {
  color: #52c8c4;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}
.best-inventory {
  font-size: 42px;
  margin-bottom: 0;
  clear: both;
  color: #1c2528;
  padding: 0;
  margin: 10px 0 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.inventory-gap {
  height: 30px;
}
.container-1 {
  margin-left: 90px;
  margin-right: 90px;
}
.main-container-1 {
  column-gap: 1px;
  /* margin-left: 40px;
    margin-right: 40px; */
  flex-wrap: wrap;
}
.outer-container-1 {
  background-image: url(https://posing-html.vercel.app/assets/img/feature_bg.svg);
}
.img-container-1 {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}
.c-1-img-circle-01 {
  margin-top: 50px;
  margin-left: -30px;
  display: flex;
  justify-content: flex-start;
  height: 70px;
  width: 70px;
  background-color: #6990ff;
  border-radius: 50%;
}
.c-1-img-circle-02 {
  display: flex;
  justify-content: flex-end;
}
.center-img-c1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-right-shift {
  margin-left: 13px;
}
.card-c1 {
  /* color: #6B6B6B; */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  box-sizing: border-box;

  /* width: 100%; */

  margin-right: auto;
  margin-left: auto;

  box-shadow: 0px 10px 50px rgb(28 37 40 / 7%);
  border-radius: 10px;
  background-color: #fff;
  /* padding: 10px 20px 0px 18px; */
  /* position: relative; */
  border: 0;
}
.card-title-c1 {
  font-size: 20px;
  margin-bottom: 10px;
  clear: both;
  color: #1c2528;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  padding-left: 12px;
  padding-right: 12px;
}
.card-text-c1 {
  color: #6b6b6b;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));

  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.c1-numbers {
  font-weight: 600;
  font-size: 60px;
  line-height: 1em;
  color: transparent;
  -webkit-text-stroke: 1px #52c8c4;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.3;
  /* -webkit-transition: all 0.3s ease */
  transition: all 0.3s ease;
  /* font-family: 'Poppins', sans-serif; */
  box-sizing: border-box;
}
.card-c1-top-margin {
  margin-top: 25px;
}
/* !PART-03 */
.c03-Best-solution-for-point {
  font-size: 42px;
  margin-bottom: 0;
  clear: both;
  color: #1c2528;
  padding: 0;
  margin: 10px 0 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  text-align: start;
}
.c03-above-the-POS {
  text-align: start;
}
.outer-container-3 {
  background: linear-gradient(257.51deg, #f2fcfe 44.07%, #faf1fe 100%);
}
.container-03 {
  column-gap: 10px;
  flex-direction: column;
}
.c2-left-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c2-right-item {
  width: 580px;
  height: 531.5px;
  row-gap: 5px;
}
.c2-r-itm-containt-above {
margin-top: 100px;
  text-align: start;
}
.c2-r-itm-containt-below {
  column-gap: 10px;
  /* flex-grow: 2; */
  /* margin-top: 100px; */
}
.c3-Best-solution-text {
  color: #6b6b6b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}
.c-03-r-itm-below-left-title {
  clear: both;
  color: #1c2528;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.c-03-r-itm-below-left-containt {
  color: #6b6b6b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden;
}
.c-03-r-itm-below-right {
  height: 175px;
  width: 103px;
  margin-left: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-03-r-itm-below-left {
  width: 413px;
  height: 231px;
}
.container-fluid-white-bar {
  margin-bottom: -10px;
}

/* !Blue Bar */

.blue-bar {
  height: 100px;
}
.Big-blue-bar {
  height: 271px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #6990ff;
  border-radius: 10px;
  padding: 85px 0;
  position: relative;
  z-index: 2;
}
.container-Big-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-Big-blue-inner {
  width: 92%;
  /* margin-top: 160px; */

  /* height: 271px; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #6990ff;
  border-radius: 10px;
  padding: 85px 0;
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-bar-middle-outer-div {
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;
}
.blue-bar-middle-containt {
  /* background-color: #69ff69; */
  width: 262px;
  height: 105px;
  align-items: center;
  justify-content: center;
}

.actual-text-containt-circle {
  background-color: #f2fcfe;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.number-in-k {
  font-size: 45px;
  line-height: 1em;
  font-weight: 900;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.text-below-k {
  font-size: 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.blue-bar-left-border {
  border-left: #fff solid 1px;
}
.c-04-circle-bg-color {
  background-color: #6990ff;
  margin-top: 30px;
  margin-left: 30px;
}
/* !Container - 04 */
.c-03-title-margin {
  margin-left: -15px;
}
.container-04-main {
  display: flex;
}
.container-04-wrapping-flex {
  display: flex;
}
.c-05-RH-item {
  justify-content: center;

  width: 50%;
  column-gap: 25px;
}
.c-05-RH-item-flex {
  background-color: white;
}
.c-05-Right-main-squre {
  background-color: white;
  border-radius: 7px;
}
.c-05-Right-main-squre-text {
  font-size: 15px;
  margin: 0;
  text-align: left;
  color: #1c2528;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}
.c-05-1st-margin {
  margin-left: 80px;
}
/* *Container -06 */
.c-06-bold-amount {
  font-weight: 700;
  font-size: 60px;
  display: inline-block;
  line-height: 1em;
  color: #6990ff;
}
.c-06-free-trial {
  text-align: start;
}
.c-06-margin-top-text {
  margin-left: 50px;
}
.c-06-top-symbol-margin {
  margin-left: -40px;
}

.c-06-bottom-tick-mark {
  padding-top: 15px;
}
.c-06-all-tickmark-in-1-div {
  margin-left: 35px;
  color: #6b6b6b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}
#c-06-cross-symbol-blur {
  color: #b5b5b5;
  fill: #b5b5b5;
}
.c-06-ok-tick-dark {
  color: #1c2528;
}
/* * Container - 07 */
.c-07-clients-img-bg {
  background-color: #47c4c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.c-07-outer-container {
  column-gap: 20px;
}
.c-07-clients-details-item-right {
  width: 100%;
}
.c-07-client-name {
  font-weight: bold !important;
  color: black;
}
/* * */
.card-07-item {
  font-family: "Inter", sans-serif;
  color: #6b6b6b;
}
.c-07-small-circle-on-img {
  background-color: white;
  border: 1px solid #6990ff;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
.c-07-svg {
  position: relative;
  top: 1px;
  left: 5px;
  color: #6990ff;
}
/* ! Container-08 */
.c-08-item {
  background-color: #6990ff;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.btn-color {
  color: brown;
  background-color: chartreuse;
}
.c-08-main-container {
  column-gap: 20px;
  flex-direction: column;
}
.c-08 {
  height: 400px;
}

/* ! Container-09 */
.c-09 {
  width: -webkit-fill-available;
  margin-right: 80px;
}
.c-09-rhs-item {
  font-family: "Inter", sans-serif;
}
.c-09-rhs-item1-margin-bottom {
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 0px;
}
.c-09-rhs-item-title {
  font-weight: bold;
  font-size: large;
}
.c-09-rhs-item-title-containent {
  color: #6b6b6b;
}
.c-09-Q-color {
  color: #6990ff;
}
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("https://lh3.googleusercontent.com/uNu-9rtn3yJ5qUl6nE7t9Rf0RD5PwCDi7_7qeWdgOzQeD_z1a9QNX7qFI83oRpUAfUwpUM8v7STV7gAdGlSo1eu6=w128-h128-e365-rj-sc0x00ffffff") !important;
}
.accordion-button::after {
  background-image: url("https://lh3.googleusercontent.com/uNu-9rtn3yJ5qUl6nE7t9Rf0RD5PwCDi7_7qeWdgOzQeD_z1a9QNX7qFI83oRpUAfUwpUM8v7STV7gAdGlSo1eu6=w128-h128-e365-rj-sc0x00ffffff") !important;
}
/* !Container - 10 */

.c-10-img-radius {
  border-radius: 6 px;
}
.c-10-admin-date-container {
  column-gap: 10px;
  color: #6b6b6b;
}
.c-10-small-img {
  color: #52c8c4;
}
.c-10-item-text-style {
  font-family: "Inter", sans-serif;
}
.c-10-bottom-arrow {
  color: #6990ff;
}
/* !Container - 11 */
.c-11 {
  width: 50%;
  margin-left: -22px;
  row-gap: 10px;
}
.c-11-RHS-container {
  width: 50%;
}
.c-11-address {
  font-size: medium;
  column-gap: 20px;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}
.c-11-address-title {
  font-weight: bold;
}
.c-11-address-details {
  color: #6b6b6b;
}
.c-11-main-container {
  column-gap: 22px;
  flex-wrap: wrap;
  flex-direction: column;
}
.c-11-input {
  width: 100%;
  height: 45px;
  border: #6990ff;
  border-radius: 6px;
  margin-top: 30px;
  border-color: #6990ff;
}
.c-11-outer-container {
  column-gap: 20px;
}
.c-11-textarea {
  width: 100%;
  height: 25%;
  border: #6990ff;
  border-radius: 6px;
  margin-top: 30px;
  border-color: #6990ff;
}
/* ! Container - 12 ====== FOOTER Outer  */
.c-12-footer-logo {
  margin-left: -90px !important;
}
.c-12-footer {
  background-color: cornflowerblue;
  padding-left: 100px;
  padding-right: 100px;
}
.c-12-footer-card1-text {
  margin-top: 20px;
}
.c-12-Footer-All-4-cards {
  font-family: "Inter", sans-serif;
}
.c-12-card2-title {
  font-weight: bold;
  font-size: 21px;
}
.c-12-ul {
  list-style-type: none;
  padding-left: 0px;
}
.c-12-li {
  margin-top: 8px;
}
.c-12-footer-card-gap {
  column-gap: 0px;
}

.center {
  justify-content: center;
  text-align: center;
}
.copyright {
  display: flex;

  height: 80px;
  background-color: #1c2528;
  color: #d9d9d9;

  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #1c2528;
  color: #d9d9d9;
}
.hr-line {
  border-bottom: 1px #6b6b6b solid;
}
/* ! */
.c-05-Right-main-squre-text {
  margin-top: 25px;
}

/* ! */
@media only screen and (max-width: 410px) {
  .c-1-image-1 {
    width: 366px;
    height: 406px;
  }
  .left-item-a {
    margin-top: 1px;
  }
  .big-text-a {
    font-size: 45px;
    font-weight: 700;
  }

  .big-space-seperation {
    height: 55px;
  }
  .c-3-big-img-2 {
    width: 100%;
  }
  .c-05-big-image-3 {
    width: 100%;
  }
  .c-09-big-image-04 {
    width: 100%;
  }
  .c2-right-item {
    width: 100%;
  }
  .c2-r-itm-containt-below {
    flex-direction: column-reverse;
  }
  .container-Big-outer {
    margin-top: 290px;
  }
  .left-item-a {
    padding-left: 15px;
    margin-top: -50px;
  }
  .c-1-img-circle-01 {
    margin-left: -120px;
    margin-bottom: 20px;
  }
  .best-inventory {
    font-size: 30px;
  }
  .c-03-r-itm-below-right {
    margin-left: 0px !important;
    margin-bottom: 20px;
  }
  .c-03-r-itm-below-left {
    width: 100%;
  }
  .ss-nav-img-size {
    width: 80px;
  }
  .ss-right-margin {
    margin-right: -50px;
  }
  .right-item-b {
    width: 400px;
    height: 400px;
  }
  .navbar-toggler {
    margin-right: -10px;
  }
  .blue-bar-left-border {
    border-left: none;
  }
  .blue-bar-middle-containt {
    justify-content: start;
  }
  .container-Big-blue-inner {
    border-radius: 0px;
    width: 100%;
  }
  .c2-left-item {
    height: 250px;
  }
  .c-05-1st-margin {
    margin-left: 0px;
  }
  .c-05-RH-item {
    width: auto;
  }
 
  .c-05-img-fix-to-middle {
    justify-content: center;
    margin-left: 0px;
  }
  .c-05-bottom-margin {
    margin-bottom: 104px;
  }
  .c-06-top-symbol-margin {
    margin-left: 45px;
  }
  .mobile-hide {
    display: none !important;
  }
  .c-09 {
    margin-right: 12px;
    margin-left: 12px;
    width: -webkit-fill-available;
    margin-top: 90px;
  }
  .c-11-title-alignment {
    font-size: 29px;
  }
  .c-11 {
    width: 100%;
  }
  .c-11-RHS-container {
    width: 100%;
  }
  .row-footer {
    margin-top: -2px !important;
    margin-bottom: -2px !important;
  }

  .c-05-bottom-margin {
    margin-right: 0;
  }

  .container-03 {
    flex-direction: column;
  }
  .c-05-fix-to-mid-45px{
    width: 94%;
    margin-left: 20px;
  }
.c-11-remove-mobile-top-margin{
  margin-top: -60px;
}
.c-03-big-img-margin{
  margin-top: 106px;
}
.c-11-remove-mobile-top-margin-jast{
  margin-top: -100px;
}
}
/* * Image Hover Effect */
.c-1-img-circle-02 {
  display: block;
  overflow: hidden;
  transition: 1s;
}

.card-img-top:hover {
  transition: transform 1s;
  transform: scale(1.09);
}
/* * Image Hover Effect */

@media (min-width: 411px) and (max-width: 800px) {
  .ss-right-margin {
    margin-right: -350px;
  }
  .navbar-toggler {
    margin-right: -30px;
  }
  .tablet-hide {
    display: none;
  }

  .c-01-tablet-card-margin {
    margin-top: 0px !important;
  }
  .c-03-big-img-margin {
    margin-top: 50px;
  }
  .blue-bar-border-hide {
    border-left: none;
  }
  .container-Big-blue-inner {
    border-radius: 0px;
  }
  .c-07-tablet-hide {
    display: none !important;
  }

  .c-08-main-container {
    justify-content: center;
  
  }
  .c-05-RH-item {
    width: 100%;
  }
  .c-09 {
    margin: 30px 35px;
  }
  .c-11 {
    width: 100%;
  }

  .c-11-RHS-container {
    width: 100%;
  }
  .container-03 {
    flex-direction: column;
  }
  .footer{
    margin-top: -2px;
  }
  .hr-line{
    margin-top: -2px;
  }
  .c-05-img-fix-to-middle{
    margin-left: 0px;
  }
  .c-05-bottom-margin{
    /* width: 100%; */
  }
  .c-05-bottom-margin{
    margin-left: 15px;
  }
  .c-05-fix-to-mid-45px{
    width: 45%;
  }
  .container-03{
    justify-content: center;
  }
  .container-Big-blue-inner{
    width: 100%;
   margin-top: 100px;
  }
  .c2-right-item{
    margin-top: -70px;
  }
  .tablet-top-margin{
    margin-top: -50px;
  }
  .tablet-top-margin-extra{
    margin-top: -150px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) 
{
   .footer{
    margin-top: -1px;
   }
   .c-11{
    width: 100%;
   }
   .c-11-RHS-container{
    width: 100%;
   }
   .c-01-tablet-card-margin {
    margin-top: 0px !important;
  }
}